body {
    background: url(images/background.jpg) center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background: transparent;
    backdrop-filter: blur(10px);
}
.login{
    font-size: 30px;
}

.field_one{
    font-size: 17px;
}

/* BOTH */
label { 
   display: block;
   text-align: right;
   width: 50px;
   margin: 0px 7px;
   text-align: left;
}

input[type=text], input[type=password], input[type=email] {
   margin: 10px 5px;
   box-sizing: border-box;
   width: 300px;
   height: 35px;
   padding: 5px;
   border: 1px solid #aaa;
   border-radius: 15px;
}

button {
   display: block;
   text-align: center;
   background-color: rgb(24, 161, 252);
   color: white;
   margin: 20px auto;
   border: none;
   border-radius: 6px;
   cursor: pointer;
}

.login_button{
   width: 150px;
   height: 30px;
   font-size: 15px;
}

button:hover {
    background-color: lightskyblue; 
    width: 155px;
    height: 30px;
}

.helper {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.helper a{
    color: lightblue;
}


/* Create Account */
.formSignup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background: transparent;
    backdrop-filter: blur(10px);
}

i {
    font-size: 16px;
    color: white;
}

label {
   display: block;
   width: 150px;
   margin: 0px 7px;
}

.formSignup input[type=text], .formSignup input[type=password], .formSignup input[type=email]{
   margin: 10px 5px;
   box-sizing: border-box;
   width: 100%;
   height: 35px;
   padding: 5px;
   border: 1px solid #aaa;
   border-radius: 15px;
}

.create_button{
   width: 150px;
   height: 40px;
   font-size: 15px;
}

.name-pair {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 12px;  
}

.name-pair input[type=text] {
    width: 250px;
}

.additionalInfo {
    display: flex; 
} 
.choice select, .age input[type=number] { 
    width: 100px; 
    height: 30px; 
    border-radius: 15px; 
    margin: 10px 5px; 
    box-sizing: border-box; 
    cursor: pointer; 
}

.field input, .field select{
    border-radius: 6px;
}

.existingUser {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.existingUser a {
    color: lightblue;
}

input.invalid { border-color:#e33; outline:2px solid rgba(227,51,51,.25); }

#error {
    font-family: monospace;
    font-size: 10px;
    background-color: white;
    color: red;
    font-weight: bold;
    width: 95%;
    margin-left: 5px;
} 

